# Microsoft Movie Analysis

_Author: Valentina Valdez_

![picture of motion picture camera](Images/pexels-donald-tong-66134.jpg)

## 1.0 Business Understanding

### 1.1 Company Vision & High Level Goals

Microsoft's decision to venture into the movie industry marks an exciting strategic shift. By telling compelling stories through film, Microsoft can connect with audiences on an emotional level and establish a stronger presence in popular culture, leading to increased brand awareness. 

Other tech companies, such as Apple and Amazon, have succesfully transitioned into the entertainment industry. By leveraging its extensive technological expertise, vast resources, and global reach, Microsoft can produce high-quality movies that will enhance its brand image and increase its cultural influence.

This research seeks to use the available data to gain valuable insights into trends and consumption patterns, enabling the company to create tailored content that resonates with viewers and maximizes box office success. Within this notebook, I will explore what types of films Microsoft should make to maximize profitability and create positive brand exposure by producing critically acclaimed films. 

### 1.2 Film Industry Background

The period that this analysis will focus on starts from the New Hollywood Era. The New Hollywood era, spanning the late 1960s to the 1970s, was marked by auteur-driven filmmaking. High recognizable directors like Francis Ford Coppola, Martin Scorsese, and Steven Spielberg emerged during this time period and are still relevant today. The era produced groundbreaking films like "The Godfather," "Taxi Driver," and "Jaws," which not only achieved critical acclaim but also achieved significant commercial success.

In the 1980s and 1990s, the blockbuster era took hold, with studios increasingly focusing on  films designed to attract large audiences and generate substantial profits. Directors like James Cameron and Steven Spielberg emerged and became synonymous with blockbuster filmmaking. "Titanic", which was directed by James Cameron, became the first billion dollar movie. It also won multiple awards, including as Oscar for Best Picture. 

In the 21st century, franchises, established intellectial properties (IPs), and cinematic universes are prevalent. Recognizable IPs such as Marvel and Star Wars series domanite the box office, attracting massive audiences and generating billions of dollars in revenue. Other IPs, such as Lego, Barbie, and Nintendo, have also plunged into filmsmaking and have seen great success. These blockbusters often combine action, visual effects, and interconnected storytelling to create immersive cinematic experiences. However, strong independent voices in non-franchise cinema exist, with the likes of filmmakers like Quentin Tarantino and Wes Anderson. Prestige film awards, such as the Academy Awards, the Golden Globes, and the Cannes Film Festival, are also highly regarded in the industry and in popular culture. 

The filmaking industry is highly competitive, but also filled with endless potential for growth. Microsoft is perfectly positioned to take advantage of more than 50 years of history. 


### 1.3 Research Goals

Given the above goals and industry backgroun, this analysis will strive to answer the following questions:
- Focus on analyzing films between 1969 and 2019.
- Focus on a high ROI, and fi Which genres, directors, actors, and writers have procuded such films?films with high ROIs? 
- Which directors, actors, and writers have experience creating high-prestige films?
- Are there films that have both promising ROI and prestige? If so, who may be able to produce this winning combination?

Let's dive in!

## 2.0 Data Understanding

This analysis uses a variety of trusted data sources. The datasets will be used to narrow down how Microsoft should  invest in its filmaking efforts. The sources are as follows:

- **IMDB:** Launched in 1990 - and owned by Amazon since 1998 - IMDB is one of the most popular and recognizable databases. This database houses a large amount of information such as directors, writers, genres, and release date.  
- **The Numbers:** This database was started in 1997, and is now the largest freely available database of movie business information. The available data contains information about movie titles, production budgets, and gross revenue data. 
- **The Academy Awards**: This data was created by scraping the <a href="https://awardsdatabase.oscars.org/">academy database</a> for a Kaggle compatetion. The Academy Awards is considered the most prestigious filmaking award in America, and this data will provide valuable insights in identifying individuals capable of making prestige films. This dataset contains information on Academy Award nominees and winners between the years 1927 and 2023. Access the data <a href="https://www.kaggle.com/datasets/unanimad/the-oscar-award">here</a> .  


This analysis is limited by the information in these datasets, and may not fully encompass the full scope of the filmaking industry. However, the data is current enough that this analysis can still provide valuable insight and guide Microsoft on their next steps.


The first step in this analysis is to understand the data and how we can transform it to gleam insights. First, I am importing the necessary libraries to read the data and perform the necessary analysis. I will review the data sources one by one to determine what needs to be done before we can perform analysis.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

%matplotlib inline

### 2.1 IMDB

Let's examine IMDB's database first, which is the most exhaustive of the three. I will need information on movies titles, their genres, and the directors, actors, and writers per film.

In [6]:
#Connect to database

conn = sqlite3.connect("Data/im.db")

#Review tables
imdb_tables = pd.read_sql("""SELECT name FROM sqlite_master;""", conn)
imdb_tables

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

### 2.2 The Numbers

For this dataset, the goal is to calculate the Return on Investment per film. Eventually, I can tie this information to the IMDB table and identify which genres and film staff (such as director, writers, and actors) have produced high ROIs.

In [6]:
#Import data
numbers_df = pd.read_csv('Data/tn.movie_budgets.csv.gz')

#Preview table
numbers_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [5]:
#Review data structure
numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

The initial assessment is that this data will need to be converted in the following ways:

- The budget and gross data columns need to be converted to integers 
- The release_date column needs to be coverted to datetime object
- There are no null values, but I will need to further examine to make sure that the values are valid

### 2.3 The Academy Awards

As mentioned earlier, Microsoft should pursue both high ROIs as well as this dataset will be critical in providing information on prestige capabilities. With the help of the IMDB database, I will be able to tie genres, films and film staff to prestige. Another interesting exploration will be finding out which writers, directors, actors, and/or genres are more likely to produce award winning films.

In [37]:
#Import Data
oscars_df = pd.read_csv('Data/the_oscar_award.csv')

#Preview Data
oscars_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [38]:
#Review data structure 

oscars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10765 entries, 0 to 10764
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10765 non-null  int64
 1   year_ceremony  10765 non-null  int64
 2   ceremony       10765 non-null  int64
 3   category       10765 non-null  object
 4   name           10761 non-null  object
 5   film           10450 non-null  object
 6   winner         10765 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 515.2+ KB

## 3.0 Data Preparation

Now that we have a good understanding of our data, lets clean the datasets, add some features, and combine tables.

### 3.1 IMDB

In [21]:
#Query relevant tables and preview data

movie_basics = pd.read_sql(
"""
SELECT primary_title AS title, start_year, genres
  FROM movie_basics
  WHERE start_year BETWEEN 1969 AND 2019
;""", conn)

movie_basics.head()

# Make two different tables? One for people in movies to connect to ROI, one for movie genres? Or can I make one big table?

                             title  start_year                genres
0                        Sunghursh        2013    Action,Crime,Drama
1  One Day Before the Rainy Season        2019       Biography,Drama
2       The Other Side of the Wind        2018                 Drama
3                  Sabse Bada Sukh        2018          Comedy,Drama
4         The Wandering Soap Opera        2017  Comedy,Drama,Fantasy

In [19]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145081 entries, 0 to 145080
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   title            145081 non-null  object
 1   start_year       145081 non-null  int64
 2   runtime_minutes  114316 non-null  float64
 3   genres           139722 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 4.4+ MB

In [22]:
#Check for duplicates
duplicates = movie_basics[movie_basics.duplicated()]
print(len(duplicates))

345

In [24]:
# Remove Duplicates
movie_basics.drop_duplicates(inplace=True)
len(movie_basics)

144736

In [25]:
#Check for extraneous values
for col in movie_basics.columns:
    print(col, '\n', movie_basics[col].value_counts(normalize=True).head(), '\n\n')

title
 Home          0.000145
Broken        0.000111
The Return    0.000111
Homecoming    0.000104
Alone         0.000104
Name: title, dtype: float64


start_year
 2017    0.120537
2016    0.118865
2018    0.116136
2015    0.111880
2014    0.107541
Name: start_year, dtype: float64


genres
 Documentary     0.229599
Drama           0.151983
Comedy          0.065141
Horror          0.030863
Comedy,Drama    0.025052
Name: genres, dtype: float64

In [28]:
#Address missing values
mb_null = movie_basics[movie_basics['genres'].isna()]
len(mb_null)

5345

In [30]:
#Drop Null values
movie_basics.dropna(inplace=True)
len(movie_basics)

139391

### 3.2 The Numbers

This dataset is key to findind out ROI numbers.

In [9]:
#Check for duplicates
duplicates = numbers_df[numbers_df.duplicated()]
print(len(duplicates))

0

In [10]:
#Check for extraneous values
for col in numbers_df.columns:
    print(col, '\n', numbers_df[col].value_counts(normalize=True).head(), '\n\n')

id
 4     0.010031
53    0.010031
61    0.010031
65    0.010031
69    0.010031
Name: id, dtype: float64


release_date
 Dec 31, 2014    0.004151
Dec 31, 2015    0.003978
Dec 31, 2010    0.002594
Dec 31, 2008    0.002421
Dec 31, 2009    0.002248
Name: release_date, dtype: float64


movie
 Halloween    0.000519
Home         0.000519
King Kong    0.000519
Heist        0.000346
Venom        0.000346
Name: movie, dtype: float64


production_budget
 $20,000,000    0.039952
$10,000,000    0.036666
$30,000,000    0.030612
$15,000,000    0.029920
$25,000,000    0.029575
Name: production_budget, dtype: float64


domestic_gross
 $0             0.094777
$8,000,000     0.001557
$2,000,000     0.001211
$7,000,000     0.001211
$10,000,000    0.001038
Name: domestic_gross, dtype: float64


worldwide_gross
 $0             0.063473
$8,000,000     0.001557
$7,000,000     0.001038
$2,000,000     0.001038
$10,000,000    0.000692
Name: worldwide_gross, dtype: float64

Unfortunately, this dataset contains some movies that do not have reported worldwide gross numbers. These will be dropped, but first, I will convert the columns to their appropiate data type.

In [25]:
#Converting release_date column to datetime object
numbers_df['release_date'] = pd.to_datetime(numbers_df['release_date'])

#Filter results to movies released after 1969 - start of the New Hollywood Era 
numbers_df = numbers_df.loc[numbers_df['release_date'] >= '1969']

#Create release_year column with datatype integer

#Review results
numbers_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,ROI
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,553.26
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,154.67
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-57.21
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,324.38
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,315.37

In [12]:
#Convert 'production_budget', 'domestic_gross', 'worldwide_gross' to integers

#Remove extra symbols from string
cols = ['production_budget', 'domestic_gross', 'worldwide_gross']

for col in cols:
    numbers_df[col] = numbers_df[col].str.replace('$','').str.replace(',','')
numbers_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000,760507625,2776345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [13]:
#Convert columns to integers

cols = ['production_budget', 'domestic_gross', 'worldwide_gross']
numbers_df[cols] = numbers_df[cols].apply(pd.to_numeric, axis=1)
numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5632 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5632 non-null   int64
 1   release_date       5632 non-null   datetime64[ns]
 2   movie              5632 non-null   object
 3   production_budget  5632 non-null   int64
 4   domestic_gross     5632 non-null   int64
 5   worldwide_gross    5632 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 308.0+ KB

In [14]:
#Drop rows where worldwide_gross is 0. 
numbers_df = numbers_df.loc[numbers_df['worldwide_gross'] > 0]
numbers_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000,760507625,2776345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...,...,...
5775,76,2006-05-26,Cavite,7000,70071,71644
5776,77,2004-12-31,The Mongol King,7000,900,900
5778,79,1999-04-02,Following,6000,48482,240495
5779,80,2005-07-13,Return to the Land of Wonders,5000,1338,1338
5781,82,2005-08-05,My Date With Drew,1100,181041,181041

Now that the data is clean, we can create the 'ROI' (Return on Investment) column with the following formula:

$$
ROI = \frac{Net Gross}{Production Budget} * 100
$$

In [15]:
#Adding ROI Column
numbers_df['ROI'] = (numbers_df['worldwide_gross'] - numbers_df['production_budget']) \
                    / numbers_df['production_budget'] * 100

numbers_df['ROI'] = numbers_df['ROI'].round(decimals=2)

numbers_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,ROI
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,553.26
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,154.67
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-57.21
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,324.38
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,315.37

Pending 
- Qualify good vs bad ROI --- > 300% is good? Account for marketing budget?
- Print number of records for each stage, see how many datapoints losing

### 3.3 The Academy Awards

In [49]:
#Filtering for films made between 1969 and 2019

oscars_df = oscars_df.loc[(oscars_df['year_film'] >= 1969) & (oscars_df['year_film'] <= 2019)]
print("Min year: ", oscars_df['year_film'].min())
print("Max year: ", oscars_df['year_film'].max())

Min year:  1969
Max year:  2019

In [51]:
#Check for duplicates
duplicates = oscars_df[oscars_df.duplicated()]
print(len(duplicates))

6

In [52]:
duplicates

,year_film,year_ceremony,ceremony,category,name,film,winner
6220,1983,1984,56,MUSIC (Original Song),Music by Michel Legrand; Lyric by Alan Bergman...,Yentl,False
7068,1991,1992,64,MUSIC (Original Song),Music by Alan Menken; Lyric by Howard Ashman,Beauty and the Beast,False
7395,1994,1995,67,MUSIC (Original Song),Music by Elton John; Lyric by Tim Rice,The Lion King,False
8864,2007,2008,80,MUSIC (Original Song),Music by Alan Menken; Lyric by Stephen Schwartz,Enchanted,False
8865,2007,2008,80,MUSIC (Original Song),Music by Alan Menken; Lyric by Stephen Schwartz,Enchanted,False
9091,2009,2010,82,MUSIC (Original Song),Music and Lyric by Randy Newman,The Princess and the Frog,False

In [53]:
#Check for extraneous values
for col in oscars_df.columns:
    print(col, '\n', oscars_df[col].value_counts(normalize=True).head(), '\n\n')

year_film
 2019    0.022350
2017    0.022176
2013    0.022001
2016    0.022001
2012    0.022001
Name: year_film, dtype: float64


year_ceremony
 2020    0.022350
2018    0.022176
2013    0.022001
2017    0.022001
2014    0.022001
Name: year_ceremony, dtype: float64


ceremony
 92    0.022350
90    0.022176
85    0.022001
89    0.022001
86    0.022001
Name: ceremony, dtype: float64


category
 BEST PICTURE                    0.052034
ACTOR IN A SUPPORTING ROLE      0.044526
COSTUME DESIGN                  0.044526
ACTRESS IN A SUPPORTING ROLE    0.044526
FILM EDITING                    0.044526
Name: category, dtype: float64


name
 John Williams    0.007508
France           0.004889
Meryl Streep     0.003667
Woody Allen      0.003143
Italy            0.002968
Name: name, dtype: float64


film
 Titanic                                0.002504
La La Land                             0.002504
The Curious Case of Benjamin Button    0.002326
The Shape of Water                     0.002326
Shakespeare in Love                    0.002326
Name: film, dtype: float64


winner
 False    0.768116
True     0.231884
Name: winner, dtype: float64

Some winners seem to be countries. This is an issue of who wins the award. For this analysis, we will only be looking at best actress, best actor, and best director awards.

In [55]:
#Filter by award data types
oscars_df['category'].unique()

array(['ACTOR', 'ACTOR IN A SUPPORTING ROLE', 'ACTRESS',
       'ACTRESS IN A SUPPORTING ROLE', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'COSTUME DESIGN', 'DIRECTING', 'DOCUMENTARY (Feature)',
       'DOCUMENTARY (Short Subject)', 'FILM EDITING',
       'FOREIGN LANGUAGE FILM',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)', 'BEST PICTURE',
       'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Live Action)', 'SOUND',
       'SPECIAL VISUAL EFFECTS',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'HONORARY AWARD',
       'MUSIC (Original Score)', 'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'IRVING G. THALBERG MEMORIAL AWARD',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'MUSIC (Song)', 'SHORT FILM (Animated)',
       'SHORT FILM (Live Action)', 'WRITING (Original Screenplay)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'SPECIAL AWARD', 'INTERNATIONAL FEATURE FILM'], dtype=object)

### 3.4 Merging and Combining Datasets

## 4.0 Exploratory Data Analysis

### 4.1 Which movie genres have the highest ROI?

## Recommendations

After this preliminary review, we recommend that Microsoft invests in the following strategies:



However, much research is still to be done. The biggest recommendation is to continue this research and explore the following: